<style>
body {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #F9F7F5
}

.container {
  margin: 0 auto;
  max-width: 500px;
  background-color: #FFFFFF;
}

h1, .tagline {
  text-align: center;
}

h2 {
  padding-left: 3px;
}

span, .city-description {
  font-size: 14px;
  Line: black;
  margin: 20px;
}

.row {
  margin: 20px auto;
  max-width: 500px;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 30px;
  background-color: #c2eff2;
}

img {
  width: 50px;
  margin: 3px;
}

.square {
  width: 440px;
  height: 3px;
  margin: 10px 3px 15px 3px;
  background-color: #D19A61
}

a {
  color: purple;
  text-align: center;
}

a:hover{
    color: orange;
    text-decoration: underline;
    background: none;
}
</style>
