<style>

a:hover{
    color: orange;
    text-align: center;
    text-decoration: underline;
    background: none;
}

.container {
  margin: 0 auto;
  max-width: 500px;
}

h1, .tagline {
  text-align: center;
}

h2 {
  padding-left: 10px;
  margin-top: 24px;
  margin-bottom: 13px;
}

span, .city-description {
  font-size: 14px;
  Line: black;
  margin: 17px;
}

.row {
  margin: 18px auto;
  max-width: 500px;
  padding-top: 7px;
  padding-bottom: 20px;
  padding-left: 20px;
  background-color: #FFFFFF;
}

img {
  width: 50px;
  margin: 10px 6px 4px 10px;
  position: relative;
  display: inline-block;
}

.square {
  width: 440px;
  height: 2px;
  padding-left: 2px;
  margin: 1px 10px 10px 10px;
  background-color: #D19A61
}

a {
  color: purple;
  text-align: center;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #F9F7F5;
}

</style>
